/* Page wrapper: centers everything */
.page-wrapper {
  display: grid;
  place-items: center;
  padding: 40px 20px;
  background-color: white;
  text-align: left;
  min-height: 100vh;
}

/* Main Title*/ 
h4 {
  font-size: 42px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
}

/*Subheadings*/ 
.form-title {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 20px 0;
  text-align: center;
}

 /*Form layout using CSS Grid */
form {
  display: grid;
  gap: 5px;
  width: 100%;
  max-width: 400px;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

/*Form sections centered*/ 
.form-group {
  display: grid;
  width: 100%;
}

/*Inner layout using grid*/ 
.form-field {
  display: grid;
  width: 100%;
  gap: 5px;
  justify-items: start;
}

/*Inputs*/ 
input[type="email"],
input[type="password"],
input[type="confirm_password"],
input[type="text"] {
  width: 59%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  background-color:white;
  
  
}


/*Labels*/
.input-label {
  font-size: 14px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.required {
  color: red;
  font-weight: 100;
}
.flex flex-col{
  padding-left: 10px;

}

/*Button*/ 
p-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 100;
  border: none;
  border-radius: 6px;
  color: #318aff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #256dcc;
}

/*Toggle Text and Links*/ 
p {
  font-size: 14px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.signup-link,
.signin-link {
  color: #318aff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
