<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-table [value]="data"
        
         [(selection)]="selectedRow"
         dataKey="id"
         
         [tableStyle]="{'min-width': '50rem'}"
         [showGridlines]="true"
         [stripedRows]="false">
  
  <ng-template #header>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Body</th>
      <th>Delete</th>
    </tr>
  </ng-template>

  <ng-template #body let-item>
    <!-- Main data row -->
    <tr (click)="rowSelection(item)"
        [ngClass]="getRowClass(item)"
        [ngStyle]="getRowStyle(item)">

      <td>{{ item.id }}</td>
      <td>{{ item.userId }}</td>
      <td>{{ item.title }}</td>
      <td>{{ item.body }}</td>
      <td [ngClass]="'action-column'">
        <p-button icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                  [outlined]="true"
                  (click)="deleteProduct(item)">
        </p-button>
      </td>
    </tr>

    <!-- Key-value display below each row -->
    
  </ng-template>
</p-table>

<!--<button type="button" (click)="countValues()">count the string</button>
    <ul>
      <li *ngFor="let entry of getCount()">
        Key:{{entry[0]}}|value:{{entry[1]}}
      </li>
    </ul>-->

 <h2> Counter: {{ count() }}</h2>

    <button (click)="increment()"> Increase</button>
    <button (click)="decrement()"> Decrease</button>
    <button (click)="reset()"> Reset</button>

 <div [style.background]="color()" class="box">
       Color Box
    </div>
    
    <button (click)="changeColor()">Change Color</button>

<h3>Highlighted Titles (using Pipe):</h3>
<ul>
  <li *ngFor="let title of topThreeTitles">
    {{ title | formatField:'title' }}
  </li>
</ul>
